$color-pry: #1c9ff3;
// $color-pry: red; 
$color-sec: #dafd83;
$color-ter: #f17829;
$color-white: #fff;
$color-black: #000;

$color-blue-sec: #E1F1FF;

$color-grey-pry: #F4F4F4;
$color-grey-sec: rgba(229, 230, 231, 0.90);
