@import 'abstracts/variables';
@import 'abstracts/function';
@import 'abstracts/mixins';
@import 'base/base';
@import 'base/animations';
@import 'base/utilities';
@import 'base/typography';
@import 'components/preloader';
@import 'components/navbar';
@import 'components/chat-container';
@import 'components/grid';
@import 'layouts/header';
@import 'layouts/footer';
@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/faq';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
main {
  margin-top: 4.2rem;
}

/*  ---------------------------------------------------- CONTACT US STYLING BEGINS HERE ------------------------------------------------------- */
.contact-head {
  text-align: center;
  margin-top: 16.4rem;
}

.contact-head h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #1c9ff3;
}

.contact-head p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.contact-form-sec {
  margin-top: 14.3rem;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  padding-left: 0;
  border-radius: 1rem;
}

.cf-flex {
  display: flex;
}

.c-flex-form {
  position: relative;
  padding: 5.9rem 2.3rem 0 4.8rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.input {
  flex-basis: 47%;
}

.input label,
.input-msg label {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #8d8d8d;
}

.input-msg input {
  padding: 0 0 1.08rem 0;
}

input {
  border: none;
  outline: 0;
  width: 100%;
  border-bottom: 1px solid #8d8d8d;
}

.top {
  margin-top: 2rem;
  margin-bottom: 4.6rem;
}

::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

#c-form-btn {
  background: #39acf4;
  color: #fff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 1.5rem 4.8rem;
  position: absolute;
  top: 48rem;
  left: 46.9rem;
}

.cards-sec {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.card-det {
  box-shadow: 0px 0px 12px #e9e9e9;
  border-radius: 2.5rem;
  flex-basis: 31.6%;
  padding: 6rem 4.7rem 6.3rem 5rem;
}
.card-det .card-p1 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin: 4rem 0 1rem 0;
}

.card-det .card-p2 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}

.card-det .card-p3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*  ---------------------------------------------------- CONTACT US STYLING ENDS HERE ------------------------------------------------------- */

/*  ---------------------------------------------------- FAQ STYLING BEGINS HERE ------------------------------------------------------- */
.contact-head-faq {
  margin-top: 11.6rem;
  text-align: center;
}

.contact-head-faq h2 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #1c9ff3;
}

.contact-head-faq p {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6rem;
}

.faq-switch {
  display: flex;
  justify-content: space-between;
  width: 25%;
  background: #1c9ff3;
  color: #fff;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4rem;
  margin-top: 4.5rem;
}

.faq-switch span {
  text-align: center;
  flex-basis: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.apply-flex,
.borrow-flex,
.repay-flex,
.max-flex,
.check-flex,
.savings-acc-flex,
.interest-flex,
.attract-flex,
.doc-flex,
.customer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saving {
  background: rgba(217, 217, 217, 0.9);
  border-radius: 1rem;
}

.apply,
.borrow,
.repay,
.max,
.check,
.savings-acc,
.interest,
.attract,
.doc,
.customer {
  margin-top: 8rem;
  padding: 1.2rem 5.7rem 4rem 3.7rem;
}

.app-left p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 6rem;
}

.app-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.line {
  border-bottom: 1.5px solid black;
  margin-top: 2.5rem;
}

.app-text {
  display: none;
  margin-top: 4.367rem;
}

.savings-div {
  display: none;
}

/*  ---------------------------------------------------- FAQ STYLING ENDS HERE ------------------------------------------------------- */

@media (max-width: 736px) {
  #preloader {
    height: 100vh;
  }

  #spinner img {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 23%;
  }

  .nav1,
  #btn-internet {
    margin-left: 0;
  }

  .mb-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-img {
    margin-top: 50px;
  }

  .header-bg {
    top: 27rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .chat-container {
    bottom: 32%;
    z-index: 100;
    right: 1rem;
  }

  #main-flex {
    flex-direction: column;
  }

  #main1-row2 {
    width: 100%;
    padding-left: 60px;
    padding: 20px;
  }

  #v-more {
    width: 50%;
  }

  #main2h {
    margin-top: 30px;
  }

  #main2-col img {
    margin-bottom: 44px;
  }

  .d-desktop {
    align-items: center;
    padding-bottom: 3rem;
  }

  .D-download {
    flex-basis: 60%;
  }

  .d-img {
    margin-right: 4rem;
  }

  .d-img img {
    margin-top: 4rem;
  }

  .main3 {
    padding-top: 60px;
  }

  .test-flex {
    flex-direction: column;
  }

  #main3r1 {
    gap: 0.5rem;
  }

  #main4 {
    flex-direction: column;
  }

  .main4l {
    flex-basis: 70%;
    gap: 0.5rem;
    margin-right: 1rem;
    align-self: center;
    margin-bottom: 2rem;
  }

  .main4l h3 {
    font-size: 1.3rem;
  }

  .main4l-socials {
    gap: 0.5rem;
  }

  .main4r {
    flex-basis: 50%;
  }

  .main4r h3 {
    font-size: 1.2rem;
  }

  .img-slider {
    width: 100%;
    flex-wrap: nowrap;
  }

  .slide-arrow {
    margin-left: -10px;
    width: 26px;
    height: 26px;
  }

  .main6-section {
    margin-top: 71px;
  }

  .main6-flex {
    flex-direction: column;
  }

  #main6 p {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }

  #main7h {
    font-size: 1.9rem;
  }

  #main7p {
    font-size: 1rem;
  }

  .input-field {
    width: 80%;
  }

  #footer {
    flex-direction: column;
  }

  footer li {
    margin-top: 0.6rem;
  }

  footer a {
    font-size: 1.5rem;
    line-height: 30px;
  }

  footer h4 {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 30px;
    color: #f17829;
    margin-top: 1.5rem;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-logo img {
    width: 50%;
  }

  .footer-child {
    text-align: center;
    margin-top: 2rem;
  }

  #pb {
    text-align: center;
    position: relative;
  }

  .ndic-fimg {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* --------------------------------------------------------- ABOUT US MEDIA QUERY BEGINS HERE --------------------------------------------------------------- */
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .main-abt-img {
    margin-top: -5rem;
    margin-bottom: 5rem;
  }

  #main-abth {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 5rem;
  }

  .abr p {
    margin-top: 3rem;
  }

  .abt-main-cnt1 {
    margin-top: 5rem;
  }

  #amcnt1-img img {
    width: 100%;
  }

  .mcnt1-p1,
  .mcnt1-p2 {
    width: 90%;
  }

  .scnd-in-cnt1 {
    display: none;
  }

  .scnd-cnt1-mobile {
    display: block;
  }

  .marg-top {
    margin-top: 4rem;
  }

  .mcnt3-flex {
    flex-direction: column;
  }

  .lft {
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .mcnt3-bgblue {
    padding: 8rem 12.9rem 7.2rem 5.5rem;
  }

  .mcnt3-bgblue2 {
    padding: 8rem 12.9rem 7.2rem 5.5rem;
  }

  /* --------------------------------------------------------------ABOUT US MEDIA QUERY ENDS HERE --------------------------------------------------------- */
  /* --------------------------------------------------------------CONTACT US MEDIA QUERY STARTS HERE --------------------------------------------------------- */
  .contact-head {
    text-align: left;
  }

  .cf-flex {
    flex-direction: column;
  }

  #c-form-btn {
    left: 50%;
    top: 35rem;
  }

  .contact-form-sec {
    padding-left: 1.5rem;
    padding-bottom: 5rem;
  }

  .input-msg input {
    margin-top: 1.5rem;
    margin-bottom: 10rem;
  }

  .card-flex {
    flex-direction: column;
  }

  .card-det {
    margin-bottom: 3.5rem;
  }

  /* --------------------------------------------------------------CONTACT US MEDIA QUERY ENDS HERE --------------------------------------------------------- */
}

/* --------------------------------------------------------------FAQ MEDIA QUERY STARTS HERE --------------------------------------------------------- */
.contact-head-faq h2 {
  font-size: 3rem;
  line-height: 4rem;
  color: #1c9ff3;
}

.contact-head-faq p {
  font-size: 2.5rem;
  line-height: 3rem;
}

/* .faq-switch {
  font-size: 2rem;
  line-height: 2rem;
  width: 40%;
  border: 1px solid red
}

.faq-switch span {
  padding: .5rem 1rem;
} */

.saving {
  /* padding:.5rem 0; */
}

/* --------------------------------------------------------------FAQ MEDIA QUERY ENDS HERE --------------------------------------------------------- */

/* 
@media (max-width: 576px){
   
    .img-slider{
        width: 100%;
        flex-wrap: nowrap;
    }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
}

@media (min-device-width: 737px) and (max-device-width: 991px) {
}

@media only screen and (min-device-width: 737px) and (max-device-width: 767px) {
  /* STYLES GO HERE */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  #main-btn {
    margin-bottom: 8rem;
  }

  .get1,
  .get2,
  .get3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .get-img img {
    width: 200%;
  }

  .D-download {
    margin-right: 0;
  }
  .d-mobile {
    display: block;
  }

  .d-desktop {
    display: none;
  }

  #main2-col img {
    margin-bottom: 1rem;
  }

  .bqr {
    text-align: center;
    padding: 2rem 0;
  }
}
