// MAIN2-GRRD

.main2__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  &--child {
    @include grid-child;
    border-radius: 2rem;
    background: $color-white;
    box-shadow: 0px 0px 20px 0px rgba(28, 159, 243, 0.1);

    &--11{
        grid-column: 3/5;
    }
  }
}
