.img-responsive {
  width: 100%;
  height: auto;
}

#navbar {
  font-size: 1.4rem;
  color: #808081;
  position: relative;

  @include respond-768px{
    display: none;
  }
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.9rem;
}

.nav-active{
  display: none;
}

.hamburger__dropdown{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 1rem 0;

  img{
    width: 25%;
  }

  .fa-bars{
    // position: absolute;
    // top: 3rem;
    // right: 10rem;
    z-index: 1;
    font-size: 3.5rem;
    // display: none;
  
    @include respond-768px{
      display: block;
      // position: absolute;
      // right: 8rem;
      // top: 4rem;
      z-index: 10;
    }
  }
}

.navbar-brand{
  flex-basis: 15%;
  display: inline-block;

  @include respond(tab-land){
    flex-basis: 10%;
  }
}

#navbarSupportedContent{
  flex-basis: 40%;

  @include respond(tab-land){
    flex-basis: 35%;
  }

  @include respond-992px{
    flex-basis: 40%;
  }
}

.nav1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-internet-div{
  flex-basis: 20%;

  @include respond-992px{
    flex-basis: 25%;
  }
}

.nav1 .nav-item {
  transition: 0.3s all;
}

#navbar .nav-link {
  transition: 0.3s all;
  color: #808081;
}

#navbar .nav-link:hover {
  transition: 0.3s all;
  color: #1c9ff3;
}


#btn-internet {
  width: 100%;
  background: $color-pry;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 1.3rem 3.4rem;
  transition: 0.5s;
}

#navbar2{
  position: static;
  // display: none;

  // @include respond-768px{
  //   display: block;
  // }

  .nav-container2{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .logo2{
    width: 100%;
  }

}

.nav2{

  .links2{
    font-size: 1.8rem;

    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
}