.img-responsive {
  width: 100%;
  height: auto;
}

#navbar {
  font-size: 1.4rem;
  color: #808081;
  position: relative;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.9rem;
}

.navbar-brand{
  flex-basis: 15%;
  display: inline-block;
}

#navbarSupportedContent{
  flex-basis: 40%;
}

.nav1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav1 .nav-item {
  transition: 0.3s all;
}

#navbar .nav-link {
  transition: 0.3s all;
  color: #808081;
}

#navbar .nav-link:hover {
  transition: 0.3s all;
  color: #1c9ff3;
}

.btn-internet-div{
  flex-basis: 20%;
}

#btn-internet {
  width: 100%;
  background: $color-pry;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 1.3rem 3.4rem;
  transition: 0.5s;
}
