.img-responsive {
  width: 100%;
  height: auto;
}

#navbar {
  font-size: 1.4rem;
  // padding-top: 4.7rem;
  // padding-bottom: 0px;
  color: #808081;
  position: relative;
  // border: 1px solid red;
}

.nav-container{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  flex-basis: 20%;
  display: inline-block;
  border: 1px solid black;
}

#navbarSupportedContent{
  flex-basis: 60%;
  border: 1px solid blue;
}

#navbar .nav-item {
  // padding: 7px 10px;
  transition: 0.3s all;
  // border: 1px solid blue;
}

#navbar .nav-link {
  transition: 0.3s all;
  color: #808081;
}

.links a {
  margin-right: 2.6rem;
  /* border: 1px solid red; */
}

#navbar .nav-link:hover {
  transition: 0.3s all;
  color: #1c9ff3;
}

.logo {
  position: relative;
  top: -1.1rem;
}

.nav1 {
  // margin-left: 8.5rem;
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  color: #1c9ff3;
}

#btn-internet {
  background: $color-pry;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 1.3rem 3.4rem;
  margin-left: 4rem;
  // position: relative;
  // top: -1.5rem;
  transition: 0.5s;
}
