#preloader {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background: url(./Cimg/splash.png);
  /* background-color: #1c9ff3; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner img {
  opacity: 0;
  width: 85%;
  animation: fadeInOut 3s infinite;
}
