.story__content {
  margin-top: 2.4rem;
  width: 100%;
  background-color: $color-blue-sec;



  &--flex {
    @include dflexcomp;

    &--left{
      @include respond-540px{
        flex-basis: 60%;
      }
    }

    &--right {
      background-color: $color-blue-sec;
      width: 81%;

      &--text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 75%;
        margin: auto;

        h2 {
          @include about-h2;
        }

        P {
          @include about-p;
        }
      }
    }
  }
}

.closer__section {
  margin: 10rem 0;

  .closer__content {
    &--flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &--left{
      @include respond-540px{
        flex-basis: 60%;
      }
    }

      &--right {
        width: 81%;

        &--text {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          @include auto85;
          margin-left: 0;

          h2 {
            @include about-h2;
          }

          P {
            @include about-p;
          }
        }
      }
    }
  }
}

.banking__section {
  margin-bottom: 10rem;
  .banking__content {

    &--flex {
    @include dflexcomp;

    &--left{
      @include respond-540px{
        flex-basis: 60%;
      }
    }

      &--right {
        width: 81%;

        &--text {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          @include auto85;
          margin-right: 0;

          h2 {
            @include about-h2;
          }

          P {
            @include about-p;
          }
        }
      }
    }
  }
}
