// MAIN-CNT1
.main-cnt1 {
  width: 100%;
  background-color: $color-blue-sec;

  @include respond-540px{
    padding: 0 2rem;
  }
}

#main-flex {
  display: flex;
  align-items: center;
  gap: 10rem;

  @include respond-450px{
    gap: 3rem;
  }

  #main1-row1{
    // border: 1px solid red;
    width: 40%;

    @include respond-992px{
      width: 70%;
    }

    @include respond-768px{
      width: 95%;
    }

    @include respond-450px{
      width: 120%;
    }

    & img {
      width: 100%;
      flex-basis: 40%;
  
      
      @include respond-450px{
        // width: 76%;
        width: 100%;
      }
    }
  }


  #main1-row2 {
    width: 67.1rem;
    padding: 6rem 0;

    @include respond-768px{
      // border: 1px solid red;
      width: 100%;
      flex-basis: 50%;
    }

    #main1-row2h {
      font-weight: 600;
      font-size: 4.8rem;
      font-family: 'Inter', sans-serif;
      color: $color-black;
      line-height: 5rem;
      // border: 1px solid blue;

      @include respond-540px{
        font-size: 3.5rem;
        line-height: 3.4rem;
      }

      @include respond-450px{
        font-size: 1.8rem;
        line-height: 1.9rem;
      }
    }

    .inter-p {
      font-family: 'Inter', sans-serif;
      color: $color-black;
      font-size: 1.4rem;
      line-height: 2.5rem;
      font-weight: 400;
      margin: 2.4rem 0;
      // border: 1px solid black;
      
      @include respond-450px{
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1.1rem 0;
      }
    }

    @include g-now;
  }
}

// MAIN CNT-2
.main-cnt2 {
  margin-top: 5.1rem;
  background-color: $color-grey-pry;
  @include respond-540px{
    padding: 0 2rem;
  }
}

// MAIN CNT-3
.main-cnt3 {
  margin-top: 5.1rem;
  background-color: $color-blue-sec;
  @include respond-540px{
    padding: 0 2rem;
  }
}

// MAIN CNT-4
.main-cnt4 {
  margin-top: 5.1rem;
  @include respond-540px{
    padding: 0 2rem;
  }
}

//MAIN2
.main2 {
  background: $color-grey-pry;
  border: 1px solid $color-grey-pry;
}

.main2__top--p {
  color: $color-black;
  font-size: 3.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 5rem;
  width: 35%;
  margin-top: 6.4rem;
}

//MAIN3
.main3 {
  padding-top: 10rem;

  .testimonial__flex {
    @include dflexcomp;

    &-left {
      flex-basis: 30%;

      & p {
        color: #000;
        font-size: 4rem;
        font-weight: 600;
        line-height: 5rem;
      }
    }

    &-right {
      flex-basis: 50%;
      position: relative;


      .testimonial__flex--img {
        border: 5px solid $color-grey-pry;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        height: 31rem;
        width: 80%;
        position: relative;
        left: -5rem;

        img {
          position: absolute;
          // position: relative;
          top: 2rem;
          left: 5rem;
          width: 100%;
        }
      }

      .blue-icon{
        position: absolute;
        left: 40.5rem;
        bottom: 3rem;
      }
      .white-icon{
        position: absolute;
        bottom: 3rem;
        left: 36.5rem;

      }
      .play-icon{
        position: absolute;
        bottom: 13rem;
        left: 21rem;
      }
    }
  }

  .signup__container{
    margin-top: 10rem;
    width: 90%;
    margin: auto;

    &--flex{
      @include dflexcomp;
      
      &--left{
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        flex-basis: 30%;
      }

      &--right{
        flex-basis: 60%;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        & p{
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 400;
          width: 90%;
        }

        @include g-now2;
      }
    }



  }
}

//MAIN4
.sec4 {
  background: $color-grey-pry;
  margin-top: 5rem;
  padding: 3rem 5rem;
}

#main4 {
  @include dflexhalf;
  width: 100%;

  .main4l {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex-basis: 50%;

    & h3 {
      font-weight: 400;
      font-size: 2.4rem;
    }

    &--socials {
      display: flex;
      gap: 1.78rem;
    }
  }

  .main4r {
    flex-basis: 25.5%;
    background-color: $color-pry;
    color: $color-white;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 1rem;
    transition: 0.5s;

    &:hover {
      background-color: $color-sec;
      color: $color-ter;
      transform: scale(1.1);
    }

    & h3 {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}