// MAIN-CNT1
#main-flex {
  display: flex;
  gap: 2rem;

  #main1-row1 img {
    width: 100%;
    height: 100%;
  }

  #main1-row2 {
    border-radius: 2rem;
    width: 67.1rem;
    padding-left: 6rem;
    padding: 11.7rem 7rem 11.7rem 6rem;

    #main1-row2h {
      font-weight: 600;
      font-size: 4.8rem;
      margin-bottom: 2rem;
      font-family: 'Inter', sans-serif;
    }

    #main1-row2s {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 1rem;
      color: #dafd83;
      font-family: 'Inter', sans-serif;
    }

    .inter-p {
      font-family: 'Inter', sans-serif;
    }

    #v-more {
      background-color: white;
      text-align: center;
      padding: 1.5rem 3.4rem;
      margin-top: 6rem;
      color: $color-pry;
      width: 30%;
      min-width: 15.5rem;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.6rem;
      transition: 0.7s;

      &:hover {
        transform: scale(0.9);
        background-color: $color-sec;
        color: $color-ter;
      }
    }
  }
}

.first {
  background: url(../dist/Cimg/flex-bg.png);
  background-repeat: no-repeat;
  color: #fff;
}

// MAIN CNT-2
.main-cnt2 {
  margin-top: 10rem;
}

// MAIN CNT-3
.main-cnt3 {
  margin-top: 10.3rem;
  margin-bottom: 10rem;
}

//MAIN2
.main2 {
  background: #f5f5f5;
  padding-top: 3.5rem;
}

#main2h {
  font-weight: 500;
  font-size: 3.2rem;
  margin-top: 4.1rem;
  margin-bottom: 1.3rem;
  line-height: 1.3;
}

#main2p {
  margin-bottom: 3rem;
}

.d1 {
  width: 100%;
  margin-bottom: 1.5rem;
}

.D-download {
  margin-right: 3.9rem;
}

.bqr {
  margin-top: 1rem;
}

.d-desktop {
  display: flex;
}

.d-mobile {
  display: none;
}

//MAIN3
.main3 {
  padding-top: 10rem;
  overflow: hidden;
}

.test-flex {
  @include dflexcomp;
  gap: 2rem;

  .test-left {
    flex-basis: 40%;
    width: 100%;
  }

  .test-ryt {
    flex-basis: 50%;
  }
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.carousel .carousel-item {
  overflow: hidden;
  text-align: justify;
  color: #808081;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

#main3h {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  width: 100%;
  line-height: 1.3;
}

.main31 p {
  font-size: 1.2rem;
  margin-top: 2.4rem;
  margin-bottom: 2.2rem;
}

#main3r {
  @include dflexhalf;
  align-items: center;
}

#main3r1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#main3r2 {
  display: flex;
  gap: 2.6rem;
}

#main3r2 a i {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  background: #e5e6e7;
}

#main3r2 a i:hover {
  background-color: $color-ter;
}

.carousel-control-prev,
.carousel-control-next {
  position: static !important;
}

//MAIN4
.sec4 {
  background: #f5f5f5;
  margin-top: 5rem;
  padding: 3rem 5rem;
}

#main4 {
  @include dflexhalf;
  width: 100%;

  .main4l {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex-basis: 50%;

    & h3 {
      font-weight: 400;
      font-size: 2.4rem;
    }

    &--socials {
      display: flex;
      gap: 1.78rem;
    }
  }

  .main4r {
    flex-basis: 25.5%;
    background-color: $color-pry;
    color: $color-white;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    transition: 0.5s;

    &:hover {
      background-color: $color-sec;
      color: $color-ter;
      transform: scale(1.1);
    }

    & h3 {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}

//MAIN5
.main5 {
  margin-top: 4.038rem;
}

.main5-feed {
  font-weight: 400;
  font-size: 1.4rem;
}

.m5-img {
  margin: 0 2.4rem;
}

.m5-img2 {
  margin-right: 1.4rem;
}

.slide-cont {
  position: relative;
}

.img-slider {
  @include dflexhalf;
  margin-top: 2rem;
  flex-basis: 100%;
  margin-left: 0;
}

.i-slider-cnt {
  flex-basis: 25%;
}

.img-slider img {
  width: 95%;
}

.slide-arrow {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  top: 43%;
  right: 0;
}

//MAIN 6
.main6-section {
  margin-top: 11.1rem;
}

.main6-flex {
  display: flex;
  justify-content: space-between;

  #main6 {
    flex-basis: 40%;

    #main6h {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3rem;
      margin-bottom: 1.2rem;
    }
  }

  .main6-img-div {
    & img {
      margin-right: 4rem;
    }
  }
}

//MAIN7
.main7-section {
  margin-top: 10rem;
  margin-bottom: 8.3rem;
}

.main7-cont {
  padding: 9.4rem 0;
  background: #1c9ff3;
  border-radius: 1rem;

  .main7-head {
    text-align: center;

    #main7h {
      color: #fff;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3rem;
    }

    #main7p {
      color: #dafd83;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .input-field {
    width: 50%;
    background-color: $color-white;
    margin: auto;
    @include dflexhalf;
    border-radius: 1rem;
    outline: none;

    & input {
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem 2.2rem;
      border-radius: 1rem;
    }

    & button {
      background: $color-sec;
      padding: 1rem 2.9rem;
      border-radius: 1rem;
      border: none;
      outline: none;
    }
  }
}
