// MAIN-CNT1
.main-cnt1{
  background-color: $color-blue-sec;
}

#main-flex {
  display: flex;
  align-items: center;
  gap: 2rem;

  #main1-row1 img {
    width: 85%;
  }

  #main1-row2 {
    border-radius: 2rem;
    width: 67.1rem;
    padding-left: 6rem;
    padding: 11.7rem 7rem 11.7rem 6rem;

    #main1-row2h {
      font-weight: 600;
      font-size: 4.8rem;
      font-family: 'Inter', sans-serif;
      color: $color-black;
      line-height: 5rem;
    }

    .inter-p {
      font-family: 'Inter', sans-serif;
      color: $color-black;
      font-size: 1.4rem;
      line-height: 2.5rem;
      font-weight: 400;
      margin: 2.4rem 0;
    }

    #g-now {
      background-color: $color-pry;
      text-align: center;
      padding: 1.5rem 3.4rem;
      color: $color-white;
      width: 55%;
      min-width: 15.5rem;
      border-radius: 1rem;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.6rem;
      transition: 0.7s;

      &:hover {
        transform: scale(0.9);
        background-color: $color-sec;
        color: $color-ter;
      }
    }
  }
}

// MAIN CNT-2
.main-cnt2 {
  margin-top: 5.1rem;
  background-color: $color-grey-pry;
}

// MAIN CNT-3
.main-cnt3 {
  margin-top: 5.1rem;
  background-color: $color-blue-sec;
}

// MAIN CNT-4
.main-cnt4 {
  margin-top: 5.1rem;
}

//MAIN2
.main2 {
  background: $color-grey-pry;
  border: 1px solid $color-grey-pry;
}

.main2__top--p{
  color: $color-black;
  font-size: 3.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 5rem;
  width: 35%;
  margin-top: 6.4rem;
}

//MAIN3
.main3 {
  padding-top: 10rem;
  height: 65rem;

  .testimonial__flex{
    border: 1px solid red;
    @include dflexcomp;

    &-left{
      border: 1px solid blue;
      flex-basis: 30%;

      & p{
        color: #000;
        font-size: 4rem;
        font-weight: 600;
        line-height: 5rem;
      }
    }

    &-right{
      flex-basis: 50%;

      .testimonial__flex--img{
        position: relative;
        border: 1px solid black;

        img{
          position: absolute;
        }
        
      }
    }
  
  }

}

//MAIN4
.sec4 {
  background: #f5f5f5;
  margin-top: 5rem;
  padding: 3rem 5rem;
}

#main4 {
  @include dflexhalf;
  width: 100%;

  .main4l {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex-basis: 50%;

    & h3 {
      font-weight: 400;
      font-size: 2.4rem;
    }

    &--socials {
      display: flex;
      gap: 1.78rem;
    }
  }

  .main4r {
    flex-basis: 25.5%;
    background-color: $color-pry;
    color: $color-white;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    transition: 0.5s;

    &:hover {
      background-color: $color-sec;
      color: $color-ter;
      transform: scale(1.1);
    }

    & h3 {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}

//MAIN5
.main5 {
  margin-top: 4.038rem;
}

.main5-feed {
  font-weight: 400;
  font-size: 1.4rem;
}

.m5-img {
  margin: 0 2.4rem;
}

.m5-img2 {
  margin-right: 1.4rem;
}

.slide-cont {
  position: relative;
}

.img-slider {
  @include dflexhalf;
  margin-top: 2rem;
  flex-basis: 100%;
  margin-left: 0;
}

.i-slider-cnt {
  flex-basis: 25%;
}

.img-slider img {
  width: 95%;
}

.slide-arrow {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  top: 43%;
  right: 0;
}

//MAIN 6
.main6-section {
  margin-top: 11.1rem;
}

.main6-flex {
  @include dflexhalf;

  #main6 {
    flex-basis: 40%;

    #main6h {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3rem;
      margin-bottom: 1.2rem;
    }
  }

  .main6-img-div {
    & img {
      margin-right: 4rem;
    }
  }
}

//MAIN7
.main7-section {
  margin-top: 10rem;
  margin-bottom: 8.3rem;
}

.main7-cont {
  padding: 9.4rem 0;
  background: #1c9ff3;
  border-radius: 1rem;

  .main7-head {
    text-align: center;

    #main7h {
      color: #fff;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3rem;
    }

    #main7p {
      color: #dafd83;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .input-field {
    width: 50%;
    background-color: $color-white;
    margin: auto;
    @include dflexhalf;
    border-radius: 1rem;
    outline: none;

    & input {
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem 2.2rem;
      border-radius: 1rem;
    }

    & button {
      background: $color-sec;
      padding: 1rem 2.9rem;
      border-radius: 1rem;
      border: none;
      outline: none;
    }
  }
}
