.money__section {
  &--flex {
    @include dflexcomp;

    &-left {
      // border: 1px solid red;
      flex-basis: 50%;
      img {
      }
    }

    &-right {
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex-basis: 50%;

      h2 {
        @include money-h2;
      }
      p {
        @include money-p;
      }
    }
  }

  @include g-now2;
}

.account__section {
  &--flex {
    @include dflexcomp;
    border: 1px solid black;

    &-left {
      border: 1px solid red;
      flex-basis: 50%;

      h2{
        @include money-h2;
      }
      p{
        @include account-p;
      }
    }

    &-right {
      border: 1px solid blue;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
