.money__section{

    &--flex{
        @include dflexcomp;

        &-left{

            img{
            }
        }

        &-right{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    h2{
        @include about-h2;
    }
    p{
        @include about-p;
    }

    @include g-now2;
}