.money__section{
    border: 1px solid red;

    &--flex{
        @include dflexcomp;

        &-left{
            border: 1px solid blue;
            flex-basis: 40%;

            // img{
            //     w
            // }
        }

        &-right{
            border: 1px solid black;
        }
    }
}