.container {
  padding-right: 0;
  padding-left: 0;
  width: 90%;
}

.home-header {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

